.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#svg-container {
  width: 100%;
  min-height: 800px;
  max-height: 80vh;
}

.map path {
  fill: #fff;
  stroke: #777;
}

.circles {
  fill: red;
}

.graticule path {
  fill: none;
  stroke: #eee;
}

.lines path {
  fill: none;
  /*stroke: #eee;*/
}

@keyframes dash{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

.lines path {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}